.content {
    color: white;
    font-size: 25px;
    position: relative;
}

.overview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1300px;
    height: 150px;
    background: rgba(128, 128, 128, 0.28);
    border: 0.5px solid black;
    border-radius: 20px;
    padding: 5px;


}

.title {
    font-size: 35px;
    font-family: "MS Gothic";
    display: flex;
    padding: 50px 0px 0px 50px;
}

.info {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 530px;

}

.stars {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}