.Movies {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}

.Pages {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.next, .prev{
border-radius: 10px;
}
