.Movies{
    display: flex;
    flex-wrap: wrap ;
    text-align: center;

}
.background{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeD4c0ULPaKRViV8BFT1lBXpn-xvqSoVniLQ&usqp=CAU");

}
